.SongImg {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 3px;
    box-shadow: 0.3vw 0.3vw 0.5vw #00000090;
}

.SongBox {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  aspect-ratio: 9;
  width: 100%;
  margin-bottom: 1vw;
  border: 1px solid brown;
}

.Song {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.SongDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 1%;
  height: 80%;
  flex: 1;
  border: 1px solid olivedrab;
}

.SongTitle {
  font-weight: bold;
  font-size: 1.5vw;
}

.Artist {
  font-size: 1.2vw;
}