.SongImg {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 3px;
    box-shadow: 0.3vw 0.3vw 0.5vw #00000090;
}

.SongBox {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  aspect-ratio: 9;
  width: 100%;
  background-color: #3333336b;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

.Song {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  width: 90%;
}

.SongDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 1%;
  width: 100%;
  overflow: hidden;
}

.SongTitle {
  font-weight: bold;
  font-size: 1.4vw;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: white;
}

.Artist {
  font-size: 1.2vw;
  color: white;
}

.Icon {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.Dot {
  height: 10%;
  aspect-ratio: 1;
  border-radius: 25%;
  margin: 5%;
}