*:focus {
  outline: none;
}

.App {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  border: 1px solid red;
  background: rgba(0,0,0,0.1);
  backdrop-filter: blur(75px) contrast(90%);
}

.Wrapper {
  display: flex;
  flex-direction: row; 
  box-sizing: border-box;
  height: 90%;
  border: 1px solid black;
}

.TopBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 10%;
  border: 1px solid greenyellow;
}

.SearchBar {
  height: 50%;
  border-radius: 10px;
  border: 0px;
  margin-right: 3%;
  width: 25%;
  background-color: #00000020;
}

.Player {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid green;
  width: 60%;
  height: 100%;
}

.PlayerImage {
  width: 55%;
  aspect-ratio: 1;
  background-size: contain;
  box-shadow: 0.85vw 0.85vw 1vw #00000090;
  border-radius: 3px;
}

.ButtonHolder {
  width: 100%;
  display: flex;
  align-content: center;
}

.Queue {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid plum;
  width: 40%;
  height: 100%;
}

.Header {
  font-size: 10vw;
  border: 1px solid green
}

.Button {
  width: 200px;
  height: 50px;
  background-color: #0000ff50;
  border: 1px solid yellow;
  border-radius: 5px;
}

.Playlist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid purple;
}

.SearchList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid navy;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: 100% 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




